# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
dashboard/node_modules
dashboard/.pnp
.pnp.js

# testing
/coverage

# production
dashboard/build

# misc
.DS_Store
dashboard/.env.local
.env.development.local
.env.test.local
.env.production.local

dashboard/npm-debug.log*
dashboard/yarn-debug.log*
dashboard/yarn-error.log*

# Jobs
jobs/node_modules
jobs/.pnp
.pnp.js

# testing
/coverage

# production
jobs/build

# misc
.DS_Store
jobs/.env.local
.env.development.local
.env.test.local
.env.production.local

jobs/npm-debug.log*
jobs/yarn-debug.log*
jobs/yarn-error.log*

# server

server/node_modules
server/.pnp
.pnp.js

# testing
/coverage

# production
server/build

# misc
.DS_Store
server/.env.local
.env.development.local
.env.test.local
.env.production.local

server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
