@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
#status span.status {
  display: none;
  font-weight: bold;
}
span.status.complete {
  color: green;
  display: inline !important;
}
span.status.incomplete {
  color: red;
}

#status.incomplete span.status.incomplete {
  display: inline;
}
