.many__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
}
.many__icon > span {
  font-family: "Roboto Slab", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: aliceblue;
  border-radius: 50%;
  font-size: 1.5rem;
}
.many > p {
  font-family: "Roboto Slab", serif;
}
.many > h3 {
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
}
