.video__wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.file__input_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.form__submut_btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3f51b5;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
